<h1>Flickr Stream</h1>

<div id="search">
	<%= form_tag("/", method: "get") do %>
		<%= label_tag(:user_id, "Enter a user name or ID:") %>
		<%= text_field_tag(:user_id) %>
		<%= submit_tag("Show photos") %>
	<% end %>
</div>